body {
	font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	a {
		color: inherit;
	}
}

h1,
.h1 {
	font-family: "Fredoka One", cursive;
	color: #fff;
	font-size: 55px;
}

h2,
.h2 {
	color: #fff;
	font-size: 28px;
	font-weight: bold;
}

h3,
.h3 {
	font-size: 24px;
	font-weight: bold;
}

// h4,
// .h4 {
// }

// h5,
// .h5 {
// }

// h6,
// .h6 {
// }

p {
	font-size: 24px;
	&:empty {
		display: none;
	}

	// a {
	// }

	// span{
	// }
}

ul {
	/*basic list styles*/
	font-size: inherit;

	// li {
	// 	/*basic list-item styles*/
	// }
}

// address {
// }

// a {

// &:hover,
// &:focus {
// 	/*basic hover and focus effects*/
// }
// }

/* ---------------------------------------
	Forms/Inputs
--------------------------------------- */

// .no-outline {
// 	button,
// 	a,
// 	[tabindex] {
// 		outline: none;
// 	}
// }

/* Placeholder styling */

// input,
// textarea {
// 	&::placeholder {
// 		opacity: 1;
// 	}
// }

/* Input Styling */

[type="color"],
[type="date"],
[type="datetime-local"],
[type="datetime"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
textarea,
select,
.select-styled {
	// $height: ($input-font-size * unitless-calc($input-line-height)) +
	// 	(get-side($input-padding, "top") + get-side($input-padding, "bottom")) +
	// 	rem-calc(get-border-value($input-border, "width") * 2);
	// /* STYLES GO THERE */
	margin-bottom: 0;
}

textarea[rows] {
	/*Styles for TextArea*/
	height: 150px;
	max-width: 100%;
}

[type="number"] {
	-moz-appearance: textfield;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	margin: 0;
	-webkit-appearance: none;
}

[type="checkbox"],
[type="file"],
[type="radio"] {
	margin-bottom: 0;
}

button,
.button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	transition: all 0.2s ease-in-out;
	text-decoration: none;

	// &:hover,
	// &:focus {
	// }
}

/* Button additional styles */

// .button {
// 	&:hover,
// 	&:focus {
// 	}
// }
